{% extends "views/_base/base.html" %}

{% block introduction %}
	{# TODO: add title and description of code class #}
	<h1>Code class Gamepad API</h1>

	<p>Code class about the gamepad API. We're going to find out what it is about and how to work with the API.</p>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
		{# TODO: create links to all exercises #}
		<li><a href="/exercise-one/">Exercise one</a></li>
		<li><a href="/exercise-two/">Exercise two</a></li>
		<li><a href="/exercise-three/">Exercise three</a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>

	<div class="cc-presentation">
		{# TODO: add url of Google Slides presentation #}
<!--		<iframe src="[URL]" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>-->
	</div>
{% endblock %}

{% block stream %}
	<h2>Stream</h2>

	<div class="cc-stream">
		{# TODO: add url of YouTube stream #}
<!--		<iframe width="560" height="315" src="[URL]" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
	</div>
{% endblock %}
